@blue: #5CA0D7;
@lightBlue: #D1E5F7;
@sienna: #A0734F;
@mistyRose: #ECB5AB;
@paleGreen: #AEB993;
@slateBlue: #838BC5;
@goldenrod: #E5C372;
@azure: #85D1D9;
@bisque: #EDD8C5;
@greyPrimary: #F8F8F8;
@greySecondary: #DDDDDD;
@grey3: #D8D8D8;
@grey4: #9B9A98;
@grey5: #4A4A4A;
@redAlert: #DF6065;
@orangeAlert: #F5B561;
@greenAlert: #A1D296;

/* nonstandart */
@white: white;
@black: lighten(black, 20%);
@greenLink: #8BBF84;
@lightGrey: #EDF2F7;
@brown: #b16153;
