@import './colors.less';

/* search-params */
.search-params {
  border-radius: 6px;
  border: 1px solid @border;
  background: #edf2f7;
  padding: 14px;
}
.search-params__main {
  display: flex;
  position: relative;
}
.search-params__aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-params__advanced {
  margin-top: 20px;
  text-align: center;
}
.search-params__view-selector {
  position: absolute;
  top: 0;
  right: 0;
}

.params__searches {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.params__select {
  display: inline-block;
  margin-right: 15px;
  border: 1px solid @grey4;
  border-radius: 5px;
  overflow: hidden;
  background: @white;
  background-image: url('../images/arrow-down.svg');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 90% center;
  &:last-child {
    margin-right: 0;
  }
  select {
    font-size: 1.125em;
    padding: 8px 36px 8px 9px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option:disabled {
      display: none;
    }
  }
}
.params__searches-label {
  margin-bottom: 15px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 11px;
    right: 8px;
    width: 21px;
    height: 29px;
    background: url('../images/search-icon_gray.svg') no-repeat 0 0;
    background-size: cover;
  }
}
.params__input {
  font-size: 1.125em;
  border: 1px solid @borderDark;
  border-radius: 5px;
  padding: 8px;
  width: 245px;
}
.params__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.params__rating-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.params__checkbox {
  font-size: 18px;
}
.params__slider-wrapper {
  margin-top: 10px;
}
.params__slider-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.params__slider {
  width: 100%;
}
.params__slider-results {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.slider-results__selected {
  color: @blue;
}
.params__advanced-btn {
  font-size: 17px;
}

/* materials */
.materials {
  margin-top: 20px;
}
.material__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.material__title {
  font-size: 1.625em;
  margin-bottom: 7px;
}
.material__description {
  padding-right: 30px;
}
.material__aside {
  display: flex;
  align-items: center;
}
.material__status {
  min-width: 140px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
}
.material__section {
  margin-top: 2px;
}
.material__author {
  margin-top: 3px;
}
.material__likebox {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  margin-left: 25px;
}
